

<mat-card>
  <b> <span>Gestion des cadres</span> </b>
  <button mat-flat-button  class="float-right" (click)="handleAddCadre()">Ajouter un cadre</button>
</mat-card>
<hr>

<!-- <mat-card>
  <mat-form-field appearance="fill">
    <mat-label>Filtrer</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
</mat-card>
 -->
<mat-card>
  <div class="grid-container" [formGroup]="searchForm">
    <div class="grid-item">
      <mat-form-field appearance="fill">
        <mat-label>Profession actuelle</mat-label>
        <mat-select formControlName="professionActuelle">
          <mat-option value="1">Oui</mat-option>
          <mat-option value="0">Non</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="grid-item">
      <mat-form-field appearance="fill">
        <mat-label>Langues</mat-label>
        <mat-select formControlName="langues">
          <mat-option *ngFor="let langue of langues" [value]="langue.libelle">
            {{ langue.libelle }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="grid-item">
      <mat-form-field appearance="fill">
        <mat-label>Niveau d'étude</mat-label>
        <mat-select formControlName="niveauEtude">
          <mat-option value="bac">Bac</mat-option>
          <mat-option value="licence">Licence</mat-option>
          <mat-option value="master">Master</mat-option>
          <mat-option value="doctorat">Doctorat</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="grid-item">
      <mat-form-field appearance="fill">
        <mat-label>Spécialisation</mat-label>
        <input matInput  formControlName="specialisation">
      </mat-form-field>
    </div>
    <div class="grid-item">
      <mat-form-field appearance="fill">
        <mat-label>Fonction Actuelle</mat-label>
        <input matInput  formControlName="fonctionActuelle">
      </mat-form-field>
    </div>
    <div class="grid-item">
      <mat-form-field appearance="fill">
        <mat-label>Régions</mat-label>
        <mat-select formControlName="region">
          <mat-option *ngFor="let region of regions" [value]="region">{{ region.reg_name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="grid-item">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>
    <div class="grid-item">
      <mat-form-field appearance="fill">
        <mat-label>Téléphone</mat-label>
        <input matInput formControlName="telephone">
      </mat-form-field>
    </div>
  </div>
  <div style="display:flex;justify-content: space-between;">
    <button mat-flat-button class="btn" (click)="handleSearch()">Rechercher</button>
    <label class="custom-file-upload">
      <mat-icon style="margin-right: 8px;">cloud_upload</mat-icon>
      <span>Sélectionner un fichier</span>
      <input type="file" (change)="onFileSelected($event)" />
    </label>
  </div>
</mat-card>

<hr>
<div class="responsive_table">
   <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let element">
         <!-- Use ngIf to check if the cadre has a profile image -->
         <img *ngIf="element.image" [src]="getImageUrl(element)" alt="Profile Image" width="50" height="50">
         <!-- Use ngIf else to display a default image if no profile image is available -->
         <ng-container *ngIf="!element.image;">
            <img src="../../../assets/img/profil.png" alt="Default Image" width="50" height="50">
         </ng-container>
      </td>
   </ng-container>

    <ng-container matColumnDef="matricule">
      <th mat-header-cell *matHeaderCellDef>Matricule</th>
      <td mat-cell *matCellDef="let element">{{element.matricule}}</td>
     </ng-container>
     <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let element">{{element.nom}}</td>
     </ng-container>
       <ng-container matColumnDef="prenom">
        <th mat-header-cell *matHeaderCellDef>Prenom</th>
        <td mat-cell *matCellDef="let element">{{element.prenom}}</td>
       </ng-container>
       <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{element.email}}</td>
       </ng-container>
       <ng-container matColumnDef="telephone">
        <th mat-header-cell *matHeaderCellDef>Telephone</th>
        <td mat-cell *matCellDef="let element">{{element.telephone}}</td>
       </ng-container>
       <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element" class="action-link" >
          <button mat-icon-button color="btn" matTooltip="Modifier" (click)="handleEditCadre(element)" >
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" matTooltip="details" (click)="handleDetailCadre(element)"  >
            <mat-icon>visibility</mat-icon>
          </button>

          <button mat-icon-button color="warn" matTooltip="Supprimer" (click)="handleDeleteCadre(element)" >
            <mat-icon>delete</mat-icon>
          </button>

          <button mat-icon-button color="btn" matTooltip="details" (click)="handleRedirectDetailCadre(element)"  >
            <mat-icon>skip_next</mat-icon>
          </button>
        </td>
       </ng-container>
       <tr mat-header-row *matHeaderRowDef="displayColumns;sticky:true"></tr>
       <tr mat-row *matRowDef="let row;columns:displayColumns"></tr>
   </table>
   <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
