

<mat-card>
  <b> <span>Gestion des utilisateurs</span> </b>
  <button mat-flat-button  class="float-right" (click)="handleAddUser()">Ajouter un utilisateur</button>
</mat-card>
<hr>

<mat-card>
  <mat-form-field appearance="fill">
    <mat-label>Filtrer</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
</mat-card>

<hr>

<mat-card>
  <div class="responsive_table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
     <ng-container matColumnDef="username">
       <th mat-header-cell *matHeaderCellDef>Username</th>
       <td mat-cell *matCellDef="let element">{{element.username}}</td>
      </ng-container>
      <ng-container matColumnDef="nom">
       <th mat-header-cell *matHeaderCellDef>Nom</th>
       <td mat-cell *matCellDef="let element">{{element.nom}}</td>
      </ng-container>
        <ng-container matColumnDef="prenom">
         <th mat-header-cell *matHeaderCellDef>Prenom</th>
         <td mat-cell *matCellDef="let element">{{element.prenom}}</td>
        </ng-container>
        <ng-container matColumnDef="email">
         <th mat-header-cell *matHeaderCellDef>Email</th>
         <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>
        <ng-container matColumnDef="telephone">
         <th mat-header-cell *matHeaderCellDef>Telephone</th>
         <td mat-cell *matCellDef="let element">{{element.telephone}}</td>
        </ng-container>
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Role</th>
          <td mat-cell *matCellDef="let element">{{element.roles[0].name}}</td>
         </ng-container>
         <ng-container matColumnDef="etat">
          <th mat-header-cell *matHeaderCellDef>Etat</th>
          <td mat-cell *matCellDef="let element" [ngStyle]="{'color': element.isActive ? 'green' : 'crimson'}">
            {{element.isActive ? 'Actif' : 'Inactif'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
         <th mat-header-cell *matHeaderCellDef>Action</th>
         <td mat-cell *matCellDef="let element" class="action-link" >
           <button mat-icon-button color="btn" matTooltip="Modifier" (click)="handleEditUser(element)" >
             <mat-icon>edit</mat-icon>
           </button>
           <button mat-icon-button color="warn" matTooltip="Supprimer" (click)="handleDeleteUser(element)" >
             <mat-icon>delete</mat-icon>
           </button>
        <button>
          <div *ngIf="element.isActive == 1">
            <button mat-icon-button color="warn" (click)="onBlock(element)"><mat-icon>lock_open</mat-icon></button>
          </div>
          <div *ngIf="element.isActive == 0">
            <button mat-icon-button color="warn" [disabled]="element.username =='vincent'" (click)="onUnBlock(element)"><mat-icon>lock</mat-icon></button>
          </div>
        </button>
         </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayColumns;sticky:true"></tr>
        <tr mat-row *matRowDef="let row;columns:displayColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
 </div>
</mat-card>
