<mat-card class="scrollable-content" #profileContainer>
  <mat-card-header>
    <mat-card-title>Profil {{cadre.prenom}} - {{cadre.nom}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="wrapper">
    <div>
      <mat-card>
      <div class="identification">
        <div class="profile-image flex-1">
          <div class="wrapperImg" (click)="triggerFileInput()">
            <!-- Affichage de l'image de profil -->
            <img [src]="cadre.img || '../../../assets/img/profil.png'" alt="Image de profil" class="circular-image">

            <!-- Bouton pour ajouter une photo -->
            <label for="fileInput">
              <button mat-icon-button>
                <mat-icon>add_a_photo</mat-icon>
              </button>
            </label>

            <!-- Input de type fichier invisible -->
            <input type="file" id="fileInput" style="display: none" (change)="onUpload()">
          </div>
        </div>

        <div class="profile-info">
          <mat-card class="cardDetails">
            <mat-card-header>
              <div mat-card-avatar class="user-avatar">
                <!-- Ajoutez ici une icône d'utilisateur, par exemple : -->
                <mat-icon>account_circle</mat-icon>
              </div>
              <mat-card-title>{{ cadre.nom }} {{ cadre.prenom }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="info-section">
                <mat-icon class="info-icon">wc</mat-icon>
                <p style="font-size: 18px">Sexe : {{ cadre.sexe }}</p>
              </div>
              <div class="info-section">
                <mat-icon class="info-icon">phone</mat-icon>
                <p style="font-size: 18px">Téléphone : {{ cadre.telephone }}</p>
              </div>
              <div class="info-section">
                <mat-icon class="info-icon">home</mat-icon>
                <p style="font-size: 18px">Résidence : {{ cadre.residence }}</p>
              </div>
              <div class="info-section">
                <mat-icon class="info-icon">phone_in_talk</mat-icon>
                <p style="font-size: 18px">Téléphone Fixe : {{ cadre.telephoneFixe }}</p>
              </div>
              <div class="info-section">
                <mat-icon class="info-icon">message</mat-icon>
                <p style="font-size: 18px">WhatsApp : {{ cadre.whatsapp }}</p>
              </div>
              <div class="info-section">
                <mat-icon class="info-icon">email</mat-icon>
                <p style="font-size: 18px">Email : {{ cadre.email }}</p>
              </div>
              <div class="info-section">
                <mat-icon class="info-icon">url</mat-icon>
                <p style="font-size: 18px">Url : {{ cadre?.url }}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
    </mat-card>
    <br>
    <mat-card>
      <div class="profile-container" >
        <div class="profile-info">
          <mat-card class="cardDetails">
            <div class="profile-prof-info">
              <h1>Situation Professionnelle</h1>
              <p style="font-size: 18px">Profession actuelle : {{ cadre.professionActuelle }}</p>
              <p style="font-size: 18px">Intitulé de fonction 1 : {{ cadre.intituleFonction1 }}</p>
              <p style="font-size: 18px">Intitulé de fonction 2 : {{ cadre.intituleFonction2 }}</p>
              <p style="font-size: 18px">Année 1 : {{ cadre.annee1 }}</p>
              <p style="font-size: 18px">Année 2 : {{ cadre.annee2 }}</p>
              <p style="font-size: 18px">Niveau d'étude : {{ cadre.niveauEtude }}</p>
              <p style="font-size: 18px">Intitulé d'école 1 : {{ cadre.intituleEcole1 }}</p>
              <p style="font-size: 18px">Intitulé d'école 2 : {{ cadre.intituleEcole2 }}</p>
              <p style="font-size: 18px">Année d'école 1 : {{ cadre.anneeEcole1 }}</p>
              <p style="font-size: 18px">Année d'école 2 : {{ cadre.anneeEcole2 }}</p>
              <p style="font-size: 18px">Spécialisation : {{ cadre.specialisation }}</p>
              <p style="font-size: 18px">Langues parlées:</p>
              <ul>
                <li *ngFor="let langue of cadre.languesParlees">{{ langue }}</li>
              </ul>
              <p style="font-size: 18px">Langues écrites:</p>
              <ul>
                <li *ngFor="let langue of cadre.languesEcrites">{{ langue }}</li>
              </ul>
              <p style="font-size: 18px">Autres : {{ cadre.autres }}</p>
            </div>
          </mat-card>
        </div>
        <div class="profile-info">
          <mat-card class="cardDetails">
            <h1>Situation Militante</h1>
            <p style="font-size: 18px">Adhésion PDS : {{ cadre.adhesionPds }}</p>
            <p style="font-size: 18px">Carte membre : {{ cadre.carteMembre }}</p>
            <p style="font-size: 18px">Année de la carte : {{ cadre.anneeCarte }}</p>
            <p style="font-size: 18px">Numéro de carte : {{ cadre.numeroCarte }}</p>
            <p style="font-size: 18px">Fonctions au parti : {{ cadre.fonctionsParti }}</p>
            <p style="font-size: 18px">Numéro CIN : {{ cadre.numeroCIN }}</p>
            <p style="font-size: 18px">Date de délivrance de la CIN : {{ cadre.dateDelivranceCIN | date: 'dd/MM/yyyy' }}</p>
            <p style="font-size: 18px">Date d'expiration de la CIN : {{ cadre.dateExpirationCIN | date: 'dd/MM/yyyy' }}</p>
            <p style="font-size: 18px">Numéro de carte électeur : {{ cadre.numeroCarteElecteur }}</p>
            <p style="font-size: 18px">Centre de vote : {{ cadre.centreVote }}</p>
            <p style="font-size: 18px">Fédération : {{ cadre.federation }}</p>
            <p style="font-size: 18px">Section : {{ cadre.section }}</p>
            <p style="font-size: 18px">Secteur : {{ cadre.secteur }}</p>
            <p style="font-size: 18px">Mouvement de soutien : {{ cadre.mouvementSoutien }}</p>
            <p style="font-size: 18px">Région : {{ cadre.region }}</p>
            <p style="font-size: 18px">Commune : {{ cadre.commune }}</p>
            <p style="font-size: 18px">Départ : {{ cadre.depart }}</p>
            <p style="font-size: 18px">Village : {{ cadre.village }}</p>
            <p style="font-size: 18px">Numéro de centre de vote : {{ cadre.numeroCentreVote }}</p>
            <p style="font-size: 18px">Numéro de bureau de vote : {{ cadre.numeroBureauVote }}</p>
          </mat-card>
        </div>
      </div>
    </mat-card>

    </div>
  </mat-card-content>

</mat-card>
