

<mat-card>
  <b> <span>Gestion des départements</span> </b>
  <button mat-flat-button  class="float-right" (click)="handleAddLocalite()" >Ajouter un département</button>
</mat-card>
<hr>
<mat-card>
  <mat-form-field appearance="fill" >
    <mat-label>Filtrer</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
</mat-card>
<hr>
<div class="responsive_table">
   <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
       <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef>Région</th>
        <td mat-cell *matCellDef="let element">{{element.region.reg_name}}</td>
       </ng-container>
       <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Departement</th>
        <td mat-cell *matCellDef="let element">{{element.dept_name}}</td>
       </ng-container>
       <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">{{element.dept_description}}</td>
       </ng-container>
       <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element" class="action-link" >
          <button mat-icon-button color="btn" matTooltip="Modifier" (click)="handleEditLocalite(element)" >
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="Supprimer" (click)="handleDeleteLocalite(element)" >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
       </ng-container>
       <tr mat-header-row *matHeaderRowDef="displayColumns;sticky:true"></tr>
       <tr mat-row *matRowDef="let row;columns:displayColumns"></tr>
   </table>
   <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>

</div>
